.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  transition: .6s;
}

.item1 {
  height: 40px;
  width: 1580px;
  background-image: url('https://cdn.pixabay.com/photo/2019/06/07/10/44/sunset-4257963_960_720.jpg');
}

.item2 {
  height: 500px;
  width: 1580px;
  background-position: center;
}

.hide {
  height: 400px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  margin: 0 30px;
  padding: 10px 30px;
  background: none;
  border: 2px solid #00cfff;
  border-radius: 5px;
  color: #00cfff;
  font-size: 36px;
  cursor: pointer;
  transition: color .3s, box-shadow .3s;
  box-shadow: 3px 3px 10px #00cfff
}

button:hover {
  color: #00ffae;
  box-shadow: 3px 3px 10px #00ffae;
}

.fas {
  transition: transform .6s;
}